@model QueerUni.Models.Student

<h2>Edit @Model.Name's Tracks</h2>

@using (Html.BeginForm())
{
  @Html.EditorFor(model => model.Name)
  @Html.EditorFor(model => model.Email)

    <input type="submit" value="Save Changes" class="button"/>
}
