@{
  Layout = "_Layout";
}

@using QueerUni.Models;

<div class="puff-in-hor">
<h1>Course selection! :) </h1>
</div>
@if (@Model.Count == 0)
{
  <h3>NO COURSES HAVE BEEN ADDED YET :(</h3>
}
<ul>
  @foreach(Course course in Model)
  {
    <li>@Html.ActionLink($"{course.CourseName}", "Details", new { id = course.CourseId})</li>
  }
</ul>

<p>@Html.ActionLink("Add new Course", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
