<div class="container">
<div class="puff-in-hor">
<h1>Welcome to Queer University :)</h1>
<h2>All are welcome here</h2>

</div>
<hr>

<div class="container">
<p>QUEER UNIVERSITY is a forthcoming web- based educational platform that foregrounds queer perspectives and identities in its teaching, structure, and ideology. We re-imagine what education can look like in an environment of care, acceptance, and inclusion.
About
We offer classes across disciplines and foster an educational space free from homophobia and other forms of oppression. We are a queer-forward organization that champions people of diverse sexual orientations and gender identities, and a world where inclusive policies and practices through intersectional justice frameworks are the norm.</p>

<p class="icon">@Html.ActionLink("Tracks", "Index", "Tracks")</p>
<p class="icon">@Html.ActionLink("Create or manage an account", "Index", "Account")</p>


</div>
