<div class="container">
<div class="puff-in-hor">
<h1>Welcome to Queer University :)</h1>
<h2>All are welcome here</h2>

</div>
<hr>

<p class="icon">@Html.ActionLink("Tracks", "Index", "tracks")</p>
</div>