@using QueerUni.Models;
@model QueerUni.Models.Track 

<h1>Chose a track</h1>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.TrackName)
  @Html.TextBoxFor(model => model.TrackName)
  @Html.LabelFor(model => model.TrackNumber)
  @Html.TextBoxFor(model => model.TrackNumber)
  <input type="submit" value="Add new track" />
}
