@{
  Layout = "_Layout";
}

@using QueerUni.Models;

<div class="container">
<div class="puff-in-hor">
<h1>track selection! :) </h1>
</div>
<div class="content">
<h1>
Track one: LGBTQIA+ MENTORSHIP,
EDUCATION, AND EMPOWERMENT</h1>
<h2>
Discover a supportive and inclusive learning environment tailored to the unique needs and experiences of the LGBTQIA+ community. Track 1 is designed to empower individuals from diverse backgrounds to achieve their educational goals and unlock new opportunities.

<button type="button" class="btn btn--blue">
	<span class="btn__txt">@Html.ActionLink("More Info about Track One", "Track1Info")</p></span>
	<i class="btn__bg" aria-hidden="true"></i>
	<i class="btn__bg" aria-hidden="true"></i>
	<i class="btn__bg" aria-hidden="true"></i>
	<i class="btn__bg" aria-hidden="true"></i>
</button>
<h2>



<h1>
Track Two: </h1>
<h2>
LGBTQIA+ workshops

<button type="button" class="btn btn--blue">
	<span class="btn__txt">@Html.ActionLink("More Info about Track Two", "Track2Info")</p></span>
	<i class="btn__bg" aria-hidden="true"></i>
	<i class="btn__bg" aria-hidden="true"></i>
	<i class="btn__bg" aria-hidden="true"></i>
	<i class="btn__bg" aria-hidden="true"></i>
</button>
<h2>

  <h1>
Track Three: </h1>
<h2>
LGBTQIA+ Enrichment Courses <h2>

<button type="button" class="btn btn--blue">
  <span class="btn__txt">@Html.ActionLink("More Info about Track Three", "Track3Info")</p></span>
	<i class="btn__bg" aria-hidden="true"></i>
	<i class="btn__bg" aria-hidden="true"></i>
	<i class="btn__bg" aria-hidden="true"></i>
	<i class="btn__bg" aria-hidden="true"></i>
</button>
</div>


