@{
  Layout = "_Layout";
}

@using QueerUni.Models;

<div class="container">
<div class="puff-in-hor">
<h1>track selection! :) </h1>
</div>
<div class="content">
<h1>
Track one: LGBTQIA+ MENTORSHIP,
EDUCATION, AND EMPOWERMENT</h1>
<h2>
Discover a supportive and inclusive learning environment tailored to the unique needs and experiences of the LGBTQIA+ community. Track 1 is designed to empower individuals from diverse backgrounds to achieve their educational goals and unlock new opportunities.<h2>


</div>

<div class="content">
<h1>Track 2 title</h1>
</div>
<p class="icon">@Html.ActionLink("Add new track", "Create")</p>
<p class="icon">@Html.ActionLink("Home", "Index", "Home")</p>
</div>
