<div class="container">

<h1>Track Three </h1>
LGBTQIA+ ENRICHMENT COURSES
Taught by advanced degree holders
Designed to embrace the rich tapestry of queer culture, history, and advocacy, these courses provide a platform for individuals of all backgrounds to explore, learn, and grow together.
<h1 class="bold">Choose Your
Passion</h1>
<hr/>
<h2 class="bold">Examples of classes</h2>


<p class="content_box">Social Sciences</p><hr/>

<p class="content_box">Arts and Humanities</p><hr/>

<p class= "content_box">Natural Sciences</p>

</div>
<br>
<button type="button" class="btn btn--blue">
	<span class="btn__txt">@Html.ActionLink("Tracks", "Index")</span>
	<i class="btn__bg" aria-hidden="true"></i>
	<i class="btn__bg" aria-hidden="true"></i>
	<i class="btn__bg" aria-hidden="true"></i>
	<i class="btn__bg" aria-hidden="true"></i>
</button>


</div>