<div class="container">

<h1>Track One </h1>
Mentorship, Education, and Empowerment
Discover a supportive and inclusive learning environment tailored to the unique needs and experiences of the LGBTQIA+ community. Track 1 is designed to empower individuals from diverse backgrounds to achieve their educational goals and unlock new opportunities
<h1 class="bold">Choose Your
Passion</h1>
<hr/>
<h2 class="bold">Examples of classes</h2>


<p class="content_box">Education, GED course, Tutors and Mentors </p><hr/>

<p class="content_box">Creativity, Creative writing, Physical espression</p><hr/>

<p class= "content_box">Support, Legal Advocacy, Resume, Development</p>

</div>
<br>
<button type="button" class="btn btn--blue">
	<span class="btn__txt">@Html.ActionLink("Tracks", "Index")</span>
	<i class="btn__bg" aria-hidden="true"></i>
	<i class="btn__bg" aria-hidden="true"></i>
	<i class="btn__bg" aria-hidden="true"></i>
	<i class="btn__bg" aria-hidden="true"></i>
</button>


</div>