<div class="container">

<h1>Track Two </h1>


Unleash your professional superpowers, seize the spotlight, and craft your legacy in the world of work. Because with these skills, your potential is boundless, and your career destiny is yours to shape.

<h1 class="bold">Choose your workshop:</h1>
<hr/>


<p class="content_box">Life Skills</p><hr/>

<p class="content_box">Career Skills</p><hr/>

<p class= "content_box">Creative Skills</p>

</div>
<br>
<button type="button" class="btn btn--blue">
	<span class="btn__txt">@Html.ActionLink("Tracks", "Index")</span>
	<i class="btn__bg" aria-hidden="true"></i>
	<i class="btn__bg" aria-hidden="true"></i>
	<i class="btn__bg" aria-hidden="true"></i>
	<i class="btn__bg" aria-hidden="true"></i>
</button>


</div>